<div class="card my-card text-left m-1">
    <div class="card-body">
        <div class="my-top-card container">
            <h5 class="card-title"> {{item.type}} </h5>
        </div>
        <div class="my-bottom-card container ">
            <button (click)="showSum = !showSum" type="button" class="btn-block btn btn-primary"> See all </button>
        </div>
        <div *ngIf="showSum" class="card-footer text-muted">
            <strong class="card-text">
                {{item.summary}}
            </strong>
        </div>
    </div> 
</div>